.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
/* header */
body > header {
  background: var(--white);
  padding: var(--base-unit) 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
.logo span {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
header nav ul {
  gap: 10px;
}
header nav ul li:first-child {
  margin-right: 40px;
}
